<menu class="header-top-menu">
  <li class="header-top-menu__item">
    <!-- HEREIN, THE ANCHOR TAGS IS USED ONLY FOR SEMANTIC PURPOSES.
          THEY LINK TO NOWHERE... THIS MICRO APP HERE MAKES NO USE OF ROUTING:
          ANGULAR OR OTHERWISE! -->
    <a href="" (click)="preventDefaultAnchorBehavior($event)"
       tabindex="10000"
       class="header-top-menu__link header-top-menu__link--active"
       role="link"
       aria-label="">Search Tunes</a>
  </li>
  <li class="header-top-menu__item">
    <a href="" (click)="preventDefaultAnchorBehavior($event)"
       class="header-top-menu__link"
       tabindex="10001"
       role="link"
       aria-label="">Download Free Tunes</a>
  </li>
  <li class="header-top-menu__item">
    <a href="" (click)="preventDefaultAnchorBehavior($event)"
       class="header-top-menu__link"
       tabindex="10002"
       role="link"
       aria-label="">Browse Our Tunes Collection</a>
  </li>
</menu>
