@import '../../../assets/styles/partials/vitals';
.header-top-menu{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;

  // HIDE MENU IN SMALLER SCREENS
  @include respond-to(medium-screens) {
    display: none;
  }
}

.header-top-menu__item {
  list-style: none;
  text-align: center;
}

.header-top-menu__link{
  &.header-top-menu__link--active{
    color: $gray-shade-1;
  }
}

a {
  text-decoration: none;
  color: $gray-shade-3;
  cursor: not-allowed;

  :active {
    color: $post-color;
  }

  :hover{
    color: $post-color;
  }

  &[tabindex]:focus {
  }
}

