@import '../../../assets/styles/partials/vitals';

.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: $zero;
  background: whitesmoke;
  border-bottom: solid 1px lightgray;
}
