@import '../../../assets/styles/partials/vitals';

.suggested-songs{
  margin-top: 0;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.suggested-songs__song {
  background: $gray-shade-6;
  border-right: solid 1px $gray-shade-7;
  border-bottom: solid 1px $gray-shade-7;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all $half-transition-time;

  &:hover {
    background: $post-color-shade-10;
  }

  &:focus,
  &.suggested-songs__song--active{
    outline: none;
    background: $bg-active-item;
    border-bottom: 1px solid $positive-emphasis;
  }
  .suggested-songs__song--active{

  }

  .suggested-songs__song-keyword-highlighted--suggestion {
    display: inline-block;
    position: absolute;
    right: $mid-spacing;
    font-style: italic;
    font-size:0.75rem;
    color: $positive-emphasis;

    @include respond-to(medium-screens) {
      top: #{$min-spacing/2};
    }
  }
}

.suggested-songs__song-pix-box{
  padding: toRem(10);
  text-align: center;
  box-sizing: border-box;
  background: $post-color-shade-10;
  border-right: solid 1px $gray-shade-9;
  min-width: toRem(50);
}

.suggested-songs__song-pix{
  height: toRem(30);
  width: auto;
  box-sizing: border-box;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.suggested-songs__song-keyword-highlighted{
  padding: 0 toRem(10);
}
