<div class="suggested-songs">
  <div class="suggested-songs__song"
       *ngFor="let song of rotatingTunesList; let iKey=index;">
    <span class="suggested-songs__song-pix-box" >
          <img [src]="song.artworkUrl100 | pixSource"
               [alt]="song.collectionName"
               [attr.aria-label]="song.collectionName"
               class="suggested-songs__song-pix" />
        </span>
    <span class="suggested-songs__song-keyword-highlighted">
      <span class="suggested-songs__song-keyword-highlighted--text">{{ song.collectionName }}</span>
    </span>
  </div>
</div>
