<div class="form-wrapper">
  <!-- THIS FORM HERE IS ONLY FOR SEMANTIC/ACCESSIBILITY REASONS - IT PROVIDES NO VALUE WHATSOEVER WITHIN THE CODE... -->
  <form class="search-form" id="search-form">
    <label class="search-label" for="search-field" id="search-field-label">
      <span class="search-label__label-text" #labelTextNode>Please, enter search term & hit Enter:</span>
      <input type="text"
             (keyup)="onKeyUp($event, keyword.value)"
             (focus)="repositionLabel(labelTextNode, 'focus')"
             (blur)="repositionLabel(labelTextNode, 'blur')"
             class="form-control search-field"
             id="search-field"
             autocomplete="off"
             name="searchKeyword"
             ngModel
             #keyword />
      <span class="search-reset-icon" (click)="resetSearchField(keyword)" #resetIcon>&times;</span>
    </label>
  </form>

  <aside class="search-results item-search-and-detail-block__detail-block">
    <app-intermittent-rotating-list></app-intermittent-rotating-list>
  </aside>
</div>
