@import '../../../assets/styles/partials/vitals';

.form-wrapper,
.search-field,
.search-label{
  width: 100%;
}

.form-wrapper{
  padding-top: 8*$min-spacing;
}

.search-label{
  position: relative;
  border: solid 1px $gray-shade-4;
  display: block;
  padding: 0;
  box-sizing: border-box;

  .search-field{
    $tenV: toRem(10);
    padding: $tenV $max-spacing $tenV;
    box-sizing: border-box;
    height: toRem(60px);
    outline: none;
    border: none;
  }

  .search-label__label-text{
    position: absolute;
    display: inline-block;
    font-size: 1.2rem;
    background: white;
    top: toRem(15);
    left: toRem(15);
    transition: all 0.35s;
    padding: $micro-spacing * 5;
    color: gray;
  }
  .search-label__label-text--entered{
    top: -#{toRem(13)};
    left: toRem(15);
    font-size: toRem(12);

  }

  .search-reset-icon{
    position: absolute;
    top: toRem(14);
    right: toRem(10);
    font-size: 1.2rem;
    color: $gray-shade-4;
    cursor: pointer;
    transition: all $half-transition-time;
    padding: 5px;

    &:hover {
      font-size: 1.5rem;
      transform: rotate(180deg);
      transform-origin: center center;
    }
  }
}

.search-results{
  width: 100%;
  position:relative;
}
