@import '../assets/styles/partials/vitals';

.wrapper {
}

.main-content {
  display: grid;
  width:80%;
  max-width: $screen-width-default;
  margin: 0 auto;

  @include respond-to(small-screens) {
    width:90%;
  }
}

.superfluous-content-block{
  background: #ffffff;
  padding: $mid-spacing $mid-spacing*3;
  margin: 2rem 0;
  box-shadow: 0 0 (4*$micro-spacing) 0 rgba($black, 0.18);

  @include respond-to(small-screens) {
    padding: ($mid-spacing);
  }

  .superfluous-content-block__title{
    font-weight: 400;
    color: #787878;
    border-top: solid 1px #e3e3e3;
    border-bottom: solid 1px #e3e3e3;
    padding: 10px 0 10px 10px;
    display: inline-block;
    border-left: solid 16px #e3e3e3;

    .superfluous-content-block--small{
      font-size: 12*$micro-spacing;
      color: $black;
    }
  }
}

.superfluous-content-block__pix-holder {
  height: 200*$micro-spacing;
  width: 100%;
  background-size: cover;
  background-attachment: scroll;
  background-position: center center;
}

.superfluous-content-block__text{
  margin: 1.2rem 0;
  padding:0;
  font-size: 1rem;
  line-height:1.5rem;
  color: $gray-shade-3;
}

.item-search-and-detail-block__detail-block {
  margin-top: $max-spacing;
}
