<div class="wrapper">
  <app-header></app-header>
  <div class="main-content">
    <div class="item-search-and-detail-block" *ngIf="shouldShowViewBlock">
      <aside class="item-search-and-detail-block__search-block">
        <app-search-field></app-search-field>
      </aside>
      <section class="superfluous-content-block">
        <h2 class="superfluous-content-block__title">Front-End Coding Challenge - <span class="superfluous-content-block--small">A Solution from Poiz.</span></h2>
        <div class="superfluous-content-block__pix-holder" style='background-image: url("../assets/images/poiz-coding-challenge-pix.jpg")'></div>
        <p class="superfluous-content-block__text" role="presentation">
          This is my Solution to the Front-End Coding Challenge. I decided to go with Angular because it feels a little bit smoother.
          However, I could equally have used <strong>React</strong> or <strong>Vue</strong>. Either ways, the results would be
          the same and no extra overhead would have been incurred. By the way, no UI is provided for kicking off the search. Just hit
          <strong>ENTER</strong> and you are good to go.
          <br />
          At the Top right corner of the Page is a <strong>Bonus Search Icon</strong>. Click on it to see what happens 😃
        </p>
      </section>
    </div>
  </div>
</div>
