@import '../../../../assets/styles/partials/vitals';

.header-logo-figure {
  margin:0;
  padding:0;
  text-align: left;
}

.header-logo-figure__logo {
  height: 44px;
  margin: 6px 0 6px 10px;
  width:auto;
}
