@use "sass:meta";
@import "./partials/vitals";

:root{
  font-family: $font-family-main;
  font-size: $root-font-size;
  color: $gray-shade-1;
  box-sizing: border-box;
  @include font-smoothing(on);

  // CSS CUSTOM PROPERTIES
  --post-base-color: #{meta.inspect($post-color)};
  --post-color-pale: #{meta.inspect($post-color--pale)};
  --post-color-white: #{meta.inspect($white)};
  --post-color-gray-shade: #{meta.inspect($gray-shade-1)};
}

